*{
    //outline: 1px solid black;
}

body{
    background-color: #ccc;
    //background-image: url(../images/kappana.jpg);
}

input [type=submit]{
    display: inline;
}

tr{
    text-align: center; 
}

#form{
    background-color: #aaa;
    width: 350px;
    padding: 20px;
    border: 1px solid black;
    margin: 50px auto;
}

table{
    width: 100%;
}

.right {
    text-align: right;
}

#form a{
    color: #36e;
    text-decoration: none;
}

#content{
    clear: both;
    background-color: #ddd;
    width: 90%;
    max-width: 1200px;
    min-width: 900px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}

.product  span{
    float:right;
}
.product{
    display: inline-block;    
    margin-left: 10px;
}
.product  img {
    width:270px;
    height:200px;
}